*{
  font-family: 'Inconsolata', monospace;;
}

.App {
  text-align: center;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./Assets/mountain.jpg');
  background-size: cover;
 
  z-index: -1;
  overflow-y: auto;
}
