*{
  font-family: 'IBM Plex Sans', sans-serif;
  color: #110B08;
}

:root{
  -palette--green: #295A5F;
  -palette--black: #110B08;
  -palette--grey: #2B2823;
  -palette--skin: #A27749;
  -palette--brown: #5C3326;
  -palette--white: #E6E6D6;
  -font--main: 'Inconsolata', monospace;
  -font--deco: 'Major Mono Display', monospace;
  -font--feature: 'Josefin Slab', serif;
}

.App {
  text-align: center;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./Assets/mountain.jpg');
  background-size: cover;
 
  z-index: -1;
  overflow-y: auto;
}
